* {
  margin: 0;
  padding: 0; }
  *:focus {
    outline: none; }

body {
  font-size: 16px;
  font-family: 'RobotoCondensedRegular', sans-serif; }

.before, .header::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }

h1 {
  font-family: 'RobotoSlabRegular', sans-serif; }

p {
  line-height: 1.8; }

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; }

.fixed-nav {
  width: 100%;
  background-color: #2E2E34 !important;
  position: fixed !important;
  height: 80px !important;
  z-index: 999 !important;
  transition: all 0.3s ease; }
  .fixed-nav .top-line_container {
    height: 80px !important; }
    .fixed-nav .top-line_container .logo img {
      height: 60px !important; }

.hamburger {
  display: none;
  cursor: pointer; }
  .hamburger img {
    width: 60px;
    height: 40px; }

.hamburger-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 500;
  background-color: rgba(26, 26, 26, 0.95);
  display: flex;
  justify-content: center;
  align-items: center; }
  .hamburger-menu ul {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0; }
    .hamburger-menu ul li {
      padding: 20px;
      width: 100%;
      list-style-type: none;
      font-size: 24px;
      display: block; }
      .hamburger-menu ul li:hover {
        background-color: #000 !important; }
      .hamburger-menu ul li:last-child {
        margin-right: 0; }
      .hamburger-menu ul li a {
        text-align: center;
        color: #fff;
        text-decoration: none;
        width: 100%;
        display: block; }

.header {
  height: 100vh;
  min-height: 650px;
  background-image: url(../img/main-bg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .header::before {
    background-color: #1a1a1a;
    opacity: 0.85; }
  .header > * {
    position: relative;
    z-index: 1; }
  .header .top-line {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 999; }
    .header .top-line .top-line_container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100px; }
    .header .top-line .logo img {
      height: 80px; }
    .header .top-line .menu ul {
      margin: 0;
      padding: 0;
      font-size: 0; }
      .header .top-line .menu ul li {
        list-style-type: none;
        display: inline;
        font-size: 16px;
        margin-left: 30px; }
        .header .top-line .menu ul li:last-child {
          margin-right: 0; }
        .header .top-line .menu ul li a {
          color: #fff;
          text-decoration: none; }
          .header .top-line .menu ul li a:hover {
            color: #56B9D0; }
  .header .main-content {
    color: #fff;
    text-align: center; }
    .header .main-content p {
      width: 65%;
      margin: 0 auto; }
  .header .bottom-button {
    margin-bottom: 30px;
    text-align: center; }
    .header .bottom-button img {
      height: 40px;
      cursor: pointer; }

.section {
  padding: 80px 0; }
  .section.section-dark {
    background-color: #F8F8F8; }
  .section .s-title {
    margin-bottom: 50px; }
    .section .s-title h2 {
      color: #000;
      font-family: 'RobotoSlabRegular', sans-serif;
      text-align: center;
      position: relative; }
      .section .s-title h2::before {
        content: '';
        position: absolute;
        width: 60px;
        height: 3px;
        background-color: #56B9D0;
        bottom: -15px;
        left: calc(50% - 30px); }

#about .s-content p {
  width: 70%;
  margin: 0 auto;
  text-align: center; }

#stats .s-content h3 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 10px; }

#stats .s-content p {
  text-align: center; }

#services .s-content .serv-item {
  text-align: center; }
  #services .s-content .serv-item img {
    height: 80px; }
  #services .s-content .serv-item h3 {
    margin: 20px 0; }
  #services .s-content .serv-item p {
    width: 80%;
    margin: 0 auto; }

#works .s-content .p-item {
  margin-bottom: 30px;
  border: 1px solid #dcdcdc;
  overflow: hidden;
  position: relative;
  cursor: pointer; }
  #works .s-content .p-item:hover .category {
    opacity: 1;
    transition: all 0.6s ease; }
  #works .s-content .p-item img {
    width: 100%; }
  #works .s-content .p-item .category {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 46, 52, 0.95);
    left: 0;
    top: 0;
    color: #fff;
    opacity: 0;
    transition: all 0.6s ease; }
    #works .s-content .p-item .category a {
      display: block;
      color: #fff;
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }

#contact .s-content h3 {
  text-align: center;
  margin-bottom: 20px; }

#contact .s-content p {
  text-align: center; }

.footer {
  padding: 35px 0;
  background-color: #1a1a1a;
  color: #fff;
  text-align: center; }
