/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .footer_contact {
    display: none; }
  .footer_content .footer-item {
    flex-basis: 25%; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .footer_contact, .footer_work-with {
    display: none; }
  .footer_content .footer-item {
    flex-basis: 33.3%; }
  .index-page #how-do .how-do_item .icon {
    width: 80px;
    height: 80px;
    line-height: 120px; }
    .index-page #how-do .how-do_item .icon img {
      width: auto;
      height: 40px; }
  .index-page #how-do .how-do_item .left-line {
    width: calc(100% - 130px);
    height: 1px;
    top: 40px;
    left: calc(50% + 60px); }
  .index-page #popular-shops .popular-shops_item-icon img {
    max-width: 140px;
    width: auto;
    height: auto;
    max-height: 30px; }
  .index-page #blog .article {
    padding: 15px; }
  .index-page #blog .big-article_img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    overflow: visible; }
  .index-page #blog .big-article_text {
    width: 100%;
    padding-left: 0; }
  .index-page #blog .small-articles .article {
    margin-bottom: 30px;
    flex-basis: calc(100% - 30px); }
    .index-page #blog .small-articles .article:last-child {
      margin-bottom: 0; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .footer_content .footer-item {
    flex-basis: 50%; }
  .footer_socials {
    flex-basis: 100% !important; }
  .footer ul li {
    line-height: 25px; }
  body {
    font-size: 16px; }
  h1 {
    font-size: 36px; }
  h2 {
    font-size: 24px; }
  h3 {
    font-size: 20px; }
  .index-page .slider .slider-container p {
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 40px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }

/*==========  Custom Media  ==========*/
@media only screen and (max-width: 610px) {
  .index-page #how-do .how-do_item {
    margin-bottom: 40px;
    flex-basis: 100%; }
    .index-page #how-do .how-do_item .left-line {
      display: none; } }
