@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	h2:before
		display: none !important


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/ 


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	body
		font-size: 15px
	h1
		font-size: 34px
	h2
		font-size: 28px

@media only screen and (max-width : 720px)
	.service-item
		flex-basis: 33.3% !important
	.reviews_item
		flex-basis: 100% !important
		.review-text
			margin-bottom: 20px !important
			p
				width: 70% !important
		.review-author
			margin-bottom: 50px !important
	.social-item
		flex-basis: 33.3% !important

@media only screen and (max-width : 600px)
	.receiving_item
		margin-bottom: 100px !important
		flex-basis: 100% !important
		.line_left, .line_right
			display: none
	.receiving_items
		margin-bottom: -100px !important

@media only screen and (max-width : 525px)
	.service-item, .social-item, .advantage-item
		flex-basis: 50% !important

	.advantage-item
		margin-bottom: 100px

	.advantages-items
		margin-bottom: -100px

	.footer_container
		justify-content: center !important

	.footer_right
		display: none !important

@media only screen and (max-width : 400px)
	.service-item
		.service-icon
			img
				width: 60px !important

	.social-item
		.social-icon
			img
				width: 60px !important

	h3
		font-size: 16px !important


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.nav
		display: none
	.nav-sandwich
		display: block !important
	h1
		font-size: 26px
		line-height: 1.5
	a.button
		button
			padding: 8px 20px


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

