@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

*, *:focus, *:active
	outline: none
	box-sizing: border-box

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

.button
	display: inline-block
	border: none
	color: #fff
	text-decoration: none
	background-color: $accent
	padding: 15px 45px
	font-size: 13px
	text-transform: uppercase
	font-weight: 600
	letter-spacing: 1px
	border-radius: 2px
	text-align: center
	position: relative
	outline: none
	transition: background-color .1s ease
	cursor: pointer
	&::after
		transition: background-color .2s ease
		position: absolute
		content: ''
		height: 4px
		bottom: 0
		width: 100%
		background-color: darken($accent, 50%)
		opacity: .18
		border-bottom-left-radius: 2px
		border-bottom-right-radius: 2px
		left: 0
	&:focus, &:hover
		text-decoration: none
		color: #fff
	&:hover
		background-color: lighten($accent, 5%)
		&::after
			opacity: .22
	&:active
		background-color: darken($accent, 5%)
		&::after
			opacity: .32

h1, h2, h3, h4, h5
	margin: 0
	font-family: $bold-font

h1
	color: #fff
	margin-bottom: 20px
	font-size: 46px

h2
	color: #1a1a1a
	font-size: 34px
	position: relative
	&::before
		content: ''
		width: 80px
		height: 3px
		background-color: $accent
		position: absolute
		bottom: -8px
		left: calc(50% - 40px)

h3
	font-size: 20px
	line-height: 1.5

p
	line-height: 1.8	

.text-right
	text-align: right

.text-center
	text-align: center

.header, .section
	position: relative

.header
	min-height: 700px
	height: 100vh
	background-size: cover
	&::before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		left: 0
		top: 0
		background-color: rgba(#1a1a1a, 0.85)
	> *
		z-index: 2
		position: relative

.top-line
	height: 100px
	background-color: rgba(#1a1a1a, 0.5)
	.logo
		line-height: 90px
		img
			width: 80px
			height: 80px
	.nav
		line-height: 90px
		margin: 0
		padding: 0
		li
			margin-right: 30px
			list-style-type: none
			display: inline
			&:last-child
				margin-right: 0
			a
				text-decoration: none
				color: #fff
				font-size: 18px
				&:hover
					color: $accent
	.hamburger-button
		line-height: 100px

.main-head
	width: 100%
	height: 100%
	position: absolute
	z-index: 1
	left: 0
	top: 0
	.main-head_container
		height: 100%
		position: relative
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		p
			margin:
				top: 0
				left: 0
				right: 0
				bottom: 30px
			color: #fff
			font-size: 18px
		.button
			margin-right: 10px
			&:last-child
				margin-right: 0

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
	background-color: #fff
	border-radius: 0
	height: 4px
	width: 40px

.hamburger
	padding: 0

.mm-listview > li > a, .mm-listview > li > span
	padding: 25px 30px

.mm-listview > li:not(.mm-divider):after
	border: none

.mm-menu.mm-theme-black
	background-color: #272726

.section
	padding: 70px 0
	&.s-gray
		background-color: #f7f7f7
	.s-title
		margin-bottom: 40px
	.s-content
		p
			width: 70%
			margin: 0 auto

#advantages
	.a-items
		margin-bottom: 70px
		.a-item
			text-align: center
			img
				width: 80px
				margin-bottom: 35px
			h3
				margin-bottom: 20px
			p
				width: 95%

#portfolio
	.mix
		display: none
	.p-nav
		margin-bottom: 30px
		text-align: center
		ul
			margin: 0
			padding: 0
			li
				margin-right: 30px
				list-style-type: none
				display: inline
				cursor: pointer
				&:last-child
					margin-right: 0
					font-size: 18px
					color: #000
				&.active
					color: $accent
	.p-items
		.p-item
			margin-bottom: 30px
			box-shadow: 0px 0px 3px rgba(0,0,0,0.15)
			.p-img
				overflow: hidden
				height: 150px
				img
					width: 100%

#my-footer
	background-color: #1a1a1a
	padding: 15px 0
	color: #fff
	font-size: 17px
	text-align: center

@import "media" // Всегда в конце
