*:focus {
    outline: none;
}

/*Main*/

nav {
    background-color: #fff;
    height: 140px;
    padding: 0 30px !important;
}

nav img.logo {
    height: 100px;
}

nav #logout {
    padding: 15px 25px;
}

.navbar-collapse {
    display: -webkit-flex !important;
    display: -moz-flex !important;
    display: -ms-flex !important;
    display: -o-flex !important;
    display: flex !important;
    flex-basis: auto !important;
}

/*Login*/

.login-container {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-background-size: cover;
    background-size: cover;
}

.login-descr {
    display: table-row;
}

.login-centered {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.login-form {
    border-radius: 4px;
    max-width: 800px;
    width: 100%;
    padding: 30px;
    padding-bottom: 80px;
    background-color: #fff;
    display: inline-block;
}

.login-form h1 {
    font-weight: 600 !important;
    margin-bottom: 30px !important;
}

.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin button {
    margin-top: 25px;
    padding: 15px;
    text-transform: uppercase;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 20px;
    margin-bottom: 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 3px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;

}

/*Welcome*/

.welcome-art {
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 50px;
}

.welcome-art img {
    width: 100%;
    max-width: 300px;
}

.welcome-text {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.8;
    color: #666;
}

.welcome-button {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.welcome-button#devices {
    background-color: #164af5;
}

#gatewayModal .modal-header {
    padding: 25px 0;
}

#gatewayModalLabel {
    text-align: center;
    width: 100%;
}

#gatewayModal .close {
    display: block;
    background-color: #164af5;
    margin: 0 !important;
    margin-top: -25px !important;
    text-shadow: none;
    opacity: 1;
    color: #fff;
}

#gatewayModal .modal-dialog {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 0;
    margin-top: 0;
}

#gatewayModal .modal-body {
    padding: 30px;
    padding-bottom: 0;
}

#gatewayModal .modal-body label {
    font-weight: 500;
}

#gatewayModal .modal-body input {
    padding: 15px;
    font-weight: 400;
    color: #333;
}

#gatewayModal .modal-body select {
    padding: 15px;
    font-weight: 400;
    color: #333;
    height: auto !important;
}

#gatewayModal .modal-footer {
    border-top: 0;
    text-align: center;
    padding-bottom: 50px;
}

#gatewayModal .modal-footer button {
    margin: 0 auto;
    background-color: #39b54a;
    border: none;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/*Welcome 2*/

.getway-content {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    border-radius: 5px;
    background-color: #fff;
}

.getway-item {
    padding: 30px;
    border-bottom: 1px solid #dcdcdc;
}

.getway-item:last-child {
    border-bottom: 0;
}

.getway-item p {
    color: #777;
    margin-bottom: 0;
}

button.welcome-scan {
    margin: 0 auto !important;
    display: block;
    margin-top: 30px !important;
}

/*Node*/

.node-item {
    text-align: center;
}

.node-content {
    margin-top: 40px;
    background-color: #fff;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 30px;
}

.node-content-item {
    padding: 20px;
    border-bottom: 1px solid #dcdcdc;
}

.node-content-item:last-child {
    border-bottom: 0;
}

.node-content-item p {
    margin-bottom: 0;
    color: #777;
}

button#modify {
    background-color: #f68e56;
    border: 0;
    width: 100%;
    max-width: 250px;
    font-size: 14px;
}

#nodeModal .modal-header {
    padding: 25px 0;
}

#nodeModal h5 {
    margin: 0 auto;
}

#nodeModalLabel {
    text-align: center;
    width: 100%;
}

#nodeModal .close {
    display: block;
    background-color: #164af5;
    margin: 0 !important;
    margin-top: -25px !important;
    margin-right: -1px !important;
    text-shadow: none;
    opacity: 1;
    color: #fff;
}

#nodeModal .modal-dialog {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 0;
    margin-top: 0;
}

#nodeModal .modal-body {
    padding: 30px;
    padding-bottom: 0;
}

#nodeModal .modal-body label {
    font-weight: 500;
}

#nodeModal .modal-body input {
    padding: 15px;
    font-weight: 400;
    color: #333;
}

#nodeModal .modal-body select {
    padding: 15px;
    font-weight: 400;
    color: #333;
    height: auto !important;
}

#nodeModal .modal-footer {
    border-top: 0;
    text-align: center;
    padding-bottom: 50px;
}

#nodeModal .modal-footer button {
    margin: 0 auto;
    background-color: #39b54a;
    border: none;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    text-transform: uppercase;
    letter-spacing: 3px;
}





