<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cosmic IoT</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

</head>
<body>

<div class="login-container" style="background-image: url(../static/img/login-bg.png);">
    <div class="login-descr">
        <div class="login-centered">
            <div class="login-form">
                <form id="formLogin" class="form-signin" role="form" method="post">
                    <img class="mb-4" src="../static/img/logo.png" alt="">
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <label for="user" class="sr-only">User</label>
                    <input type="text" class="form-control" id="user"  name="user" required placeholder="User" />
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required placeholder="Password" />
                    <button type="submit" id = "login" value="Ingresar" class="btn btn-lg btn-primary btn-block">Sign in </button><br>
                    <button type="submit" id = "signup" value="signup" class="btn btn-lg btn-success btn-block">Sign up </button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="nodesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalTitle"> Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form id="SignupForm">
                    <div class="form-group">
                        <label for="user_register" class="sr-only">User</label>
                        <input type="text" class="form-control" id="user_register"  name="user_register" required placeholder="User" />   
                    </div>
                    <div class="form-group">
                        <label for="name_register" class="sr-only">Name</label>
                        <input type="text" class="form-control" id="name_register"  name="name_register" required placeholder="Name" /> 
                    </div>
                    <div class="form-group">
                        <label for="email_register" class="sr-only">Email</label>
                        <input type="email" class="form-control" id="email_register"  name="email_register" required placeholder="Email" /> 
                    </div>
                    <div class="form-group">
                        <label for="password_register" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="password_register"  name="password_register" required placeholder="Password" /> 
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="button_register" type="button" class="btn btn-primary">Sign up</button>
            </div>
        </div>
    </div>
</div>
 -->




</body>
<!-- js-->

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/tether.min.js"></script>
<script type="text/javascript" src="../static/js/popper.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/app.js"></script>
</html>


