@font-face {
    font-family: 'Verdana Regular';
    src: url('../fonts/Verdana.eot');
    src: url('Verdana.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Verdana.woff') format('woff'),
    url('../fonts/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana Bold';
    src: url('../fonts/Verdana-Bold.eot');
    src: url('../fonts/Verdana-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Verdana-Bold.woff') format('woff'),
    url('../fonts/Verdana-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}