webfont(family, file, weight = normal, style = normal)
  @font-face
    font-family family
    src url(file + '.eot')
    src url(file + '.eot?#iefix') format('embedded-opentype'),
        url(file + '.woff') format('woff'), 
        url(file + '.ttf') format('truetype')
    font-weight weight
    font-style style