@import "_mixins/_font-face.styl"

// webfont('OpenSans', '../fonts/OpenSans-Regular/OpenSans-Regular')
// webfont('OpenSans', '../fonts/OpenSans-Bold/OpenSans-Bold', bold)

webfont('RobotoRegular', '../fonts/Roboto-Regular/Roboto-Regular')
webfont('RobotoBold', '../fonts/Roboto-Bold/Roboto-Bold')
webfont('RobotoMedium', '../fonts/Roboto-Medium/Roboto-Medium')
webfont('RobotoSlabRegular', '../fonts/RobotoSlab-Bold/RobotoSlab-Bold')