@import "_vars"

*:focus
	outline none

body
	margin 0
	padding 0
	min-width 320px
	overflow-x hidden
	font-family font-regular
	line-height 1.5
	background-color #fff

h1
	font-size 40px
	font-family font-title
	
h2
	font-size 36px
	
h3
	font-size 30px
	font-family font-medium
	
span.alink
	cursor pointer

.clearfix
	clear: both

.btn
	padding 13px 60px
	display inline-block
	border-radius 5px
	font-size 18px
	font-family font-bold
	text-decoration none
	color #fff
	cursor pointer
	border none
	&-orange
		background-color #f47c22
		&:hover
			background-color darken(#f47c22, 20%)
	&-purple
		background-color #7a305a
		&:hover
			background-color darken(#7a305a, 20%)	

.wrapper
	overflow-x hidden

#header
	.top-line
		&_container
			.logo
				height 100px
				line-height 100px
				a
					display inline-block
					vertical-align middle
					position relative
					img
						width 100%
						height auto
						display block
			.search-form
				line-height 100px
				&_input
					width: calc(100% - 50px)
					height 45px
					border: 1px solid #a1a1a1
					border-right none
					padding 15px
					border-radius 8px 0 0 8px
					font-size 18px
				&_button
					width 45px
					height 45px
					padding 0
					position relative
					top 4px
					left -4px
					background none
					border: 1px solid #a1a1a1
					border-left none
					border-radius 0 8px 8px 0
					cursor pointer
					img
						width 20px
						height auto
						display inline-block
			.phone
				line-height 100px
				text-align right
				font-size 30px
				span
					white-space nowrap
					position relative
					&::before
						top -8px
						left: -40px
						content ''
						width 29px
						height 51px
						background-image url(../img/phone-icon.png)
						background-size cover
						position absolute
	.menu
		background-color #839e35
		&_container
			ul.menu-desktop
				li
					display inline-block
					&.active
						a
							color #792f5a
					a
						display block
						padding 24px 0
						margin-right 50px
						font-family font-bold
						color #fff
						text-decoration none
						&:hover
							color #792f5a
			.mobile-menu_button
				display none
				color #fff
				text-align center
				font-size 28px
				padding 8px 0
				cursor pointer
			.mobile-menu_list
				padding-bottom 15px
				display none
				ul.menu-mobile
					li
						text-align center
						&.active
							a
								background-color darken(#839e35, 30%)
						a
							font-size 15px
							text-decoration none
							padding 15px
							color #fff
							display block
							&:hover
								background-color darken(#839e35, 30%)
								
#footer
	padding 40px 0
	background-color #3c3b3b
	.footer-logo
		margin-bottom 10px
		img
			width 100%
			max-width 298px
	.footer-socials
		width 60%
		span
			margin-right 10px
	.footer-menu
		ul
			columns: 2
			li
				a
					font-size 18px
					font-family font-bold
					color #fff
					text-decoration none
					&:hover
						color #792f5a
	.footer-address
		text-align right
		color #fff
		font-size 18px
		span
			font-family font-bold
	.footer-phone
		margin-top 15px
		margin-bottom 15px
		text-align right
		color #fff
		font-size 24px
		font-family font-medium
		span
			position relative
			&::before
				content ''
				height 33px
				width 19px
				position absolute
				background-image url(../img/phone-small-icon.png)
				left -30px
				top -5px
	.footer-contact-socials
		text-align right
		span
			margin-left 10px
	.footer-copy
		color #fff
		text-align center
		
.bread-crumbs
	position relative
	margin-bottom 10px
	padding 10px 0
	ul
		li
			display inline-block
			margin-right 5px
			a
				color #000
				text-decoration none
				&:hover
					color #137da8
			&:last-child
				margin-right 0
				color #137da8
				&::after
					display none
			&::after
				content '/'
				margin-left 5px
	&:after
		content ''
		width 100%
		height 13px
		background-image url(../img/pattern-border.png)
		position absolute
		bottom -13px
		z-index -1

.isHome							
	#banner
		position relative
		.banner
			&-container
				max-width 1140px
				width 100%
				margin 0 auto
				.banner-slider
					position relative
					&_item
						width 1140px
						height 590px
						overflow hidden
						position absolute
						opacity 0
						transition opacity 1s
						&.showed-slide
							opacity 1
						img
							width 100%
							height auto
				.banner-wrapper
					width 100%
					height 590px
					position relative
					z-index 1
					background-color rgba(0, 0, 0, 0.35)
					display table
					.banner-descr
						display table-row
						.banner-centered
							display table-cell
							vertical-align middle
					.banner-text
						margin-left 70px
						margin-right 70px
						display inline-block
						color #fff
						h2
							width 100%
							max-width 755px
							margin-bottom 80px
		&:after
			content ''
			width 100%
			height 13px
			background-image url(../img/pattern-border.png)
			position absolute
			bottom -13px
			z-index -1
			
	.section
		padding 65px 0
		&-header
			margin-bottom 35px
			
	#about
		position relative
		.about-main
			margin-bottom 60px
			img
				width 100%
			p
				margin-left 50px
		.about-advantages
			h3
				margin-bottom 50px
			&_item
				height 240px
				text-align center
				margin-bottom 80px
				img
					margin-bottom 20px
				p
					width 290px
					margin 0 auto
		&:after
			content ''
			width 100%
			height 13px
			background-image url(../img/pattern-border.png)
			position absolute
			bottom -13px
			z-index -1
			
	#stocks
		margin 40px 0
		position relative
		.stock_item
			img
				width 100%
		&:after
			content ''
			width 100%
			height 13px
			background-image url(../img/pattern-border.png)
			position absolute
			bottom -30px
			z-index -1
			
	#articles
		position relative
		.slider-container
			position relative
		.slider-item
			margin 0 15px
			.article-block
				padding 20px
				background-color #f5f5f2
				border 1px solid #b7b7b7
				.article-date
					font-size 14px
				.article-info
					margin 10px 0
					height 100px
					overflow hidden
					border 1px solid #b7b7b7
					.article-title
						height 100px
						width 60%
						float left
						position relative
						&::after
							content ''
							width 200px
							height 200px
							transform rotate(30deg)
							position absolute
							top -100px
							right -40px
					.article-img
						width 40%
						float left
					img
						min-width 100%
						min-height 100px
					p
						width 100%
						padding 15px
						position relative
						z-index 1
						font-size 16px
						color #fff
				.article-text
					margin-bottom 10px
					p
						font-size 15px
				.article-more
					a
						color #000
						font-size 15px
		.slider-nav
			position relative
			top -200px
			.prev, .next
				position absolute
				cursor pointer
			.prev
				left -50px
			.next
				right -50px
		&:after
			content ''
			width 100%
			height 13px
			background-image url(../img/pattern-border.png)
			position absolute
			bottom 0
			z-index -1
				
	.owl-carousel .owl-item:nth-of-type(3n+1) .slider-item .article-block
		border-bottom 5px solid #839e35 !important
		
	.owl-carousel .owl-item:nth-of-type(3n+2) .slider-item .article-block
		border-bottom 5px solid #f47c22 !important
		
	.owl-carousel .owl-item:nth-of-type(3n+3) .slider-item .article-block
		border-bottom 5px solid #147ea8 !important

	.owl-carousel .owl-item:nth-of-type(3n+1) .slider-item .article-block .article-info .article-title::after, .owl-carousel .owl-item:nth-of-type(3n+1) .slider-item .article-block .article-info .article-title
		background-color #839e35 !important
		
	.owl-carousel .owl-item:nth-of-type(3n+2) .slider-item .article-block .article-info .article-title::after, .owl-carousel .owl-item:nth-of-type(3n+2) .slider-item .article-block .article-info .article-title
		background-color #f47c22 !important
		
	.owl-carousel .owl-item:nth-of-type(3n+3) .slider-item .article-block .article-info .article-title::after, .owl-carousel .owl-item:nth-of-type(3n+3) .slider-item .article-block .article-info .article-title
		background-color #147ea8 !important
		
	#contacts
		position relative
		.contacts-container
			top 0
			width 100%
			position absolute
			.contacts-text
				position relative
				padding 20px
				padding-top 40px
				height 600px
				background-color rgba(#839e35, 60%)
				h1
					margin-bottom 40px
				.contacts-address
					margin-bottom 15px
					padding-left 45px
					font-size 28px
					font-family font-medium
					position relative
					&::before
						content ''
						height 53px
						width 31px
						position absolute
						background-image url(../img/location-icon.png)
						left -2px
						top 10px
				.contacts-works
					margin-bottom 15px
					padding-left 45px
					font-size 18px
					font-family font-medium
				.contacts-phone
					margin-bottom 15px
					padding-left 45px
					font-size 30px
					font-family font-medium
					position relative
					&::before
						content ''
						height 51px
						width 29px
						position absolute
						background-image url(../img/phone-icon.png)
						left -2px
						top -5px
				.contacts-info
					padding-left 45px
					font-size 24px
					font-family font-medium
				.contacts-close
					position absolute
					right 20px
					top 20px
					content ''
					color #000
					cursor pointer
					font-size 24px
					&:hover
						color #fff
						
.isProduct
	.main-content
		position relative
		margin-top 40px
		padding-bottom 50px
		&:after
			content ''
			width 100%
			height 13px
			background-image url(../img/pattern-border.png)
			position absolute
			bottom 0
			z-index -1
		.product-menu
			padding 20px
			background-color #f5f5f2
			border 1px solid #959595
			ul
				> li
					margin-bottom 20px
					position relative
					font-family font-title
					color #0a0a09
					text-decoration none
					font-size 17px
					cursor pointer
					&.active
						& > ul
							display block
						&::after
							content '-'
					&:last-child
						margin-bottom 0
					&::before
						top 0
						content ''
						width 9px
						height 24px
						position absolute
						left -15px
					&::after
						top 0
						content '+'
						font-family font-bold
						position absolute
						right -5px
						font-size 18px
					&:nth-child(4n+1)
						> ul
							li:hover
								a
									color #f47c22
						&::before
							background-color #f47c22
					&:nth-child(4n+2)
						> ul
							li:hover
								a
									color #839e35
						&::before
							background-color #839e35
					&:nth-child(4n+3)
						> ul
							li:hover
								a
									color #792f5a
						&::before
							background-color #792f5a
					&:nth-child(4n+4)
						> ul
							li:hover
								a
									color #137da8
						&::before
							background-color #137da8			
					> ul
						padding-top 10px
						padding-left 10px
						display none
						li
							list-style-type disc
							&::before, &::after
								display none
							a
								text-decoration none
								color #000
								font-size 16px
								font-family font-regular
		.product-info
			h1
				font-size 36px
				margin-bottom 30px
			.product-slider
				margin-bottom 30px
				height 310px
				&_prev, &_next
					text-align center
					line-height 325px
					position relative
					cursor pointer
				&_prev
					right -20px
				&_next
					left -20px
				.product-slides
					position relative
					&_item
						width 100%
						height 310px
						overflow hidden
						position absolute
						border 2px solid #839e35
						border-bottom 5px solid #839e35
						opacity 0
						transition opacity 1s
						&.showed-slide
							opacity 1
						img
							min-width 100%
							max-height 310px
			.product-price
				text-align center
				margin-bottom 20px
			.product-descr
				padding 20px
				background-color #f5f5f2
				border 1px solid #959595
				h3
					font-size 24px
					margin-bottom 20px
				p
					margin-bottom 20px
					&:last-child
						margin-bottom 0
	.product-form
		margin-top 20px
		padding-bottom 30px
		h2
			font-size 28px
			font-family font-bold
			margin-bottom 30px
		form
			input
				width 100%
				background-color #f5f5f2
				border 1px solid #959595
				padding 13px
				font-size 18px
				color #959595
				border-radius 5px
				margin-bottom 30px
			button.btn
				padding 13px 0
				text-align center
				width 100%
				text-align center
				margin-bottom 20px
		.input-check-mark
			width 18px
			height 18px
			background-color #f5f5f2
			border 1px solid #959595
			border-radius 2px
			display inline-block
			margin-right 15px
			position relative
			top 3px
			cursor pointer
			&.active
				&::after
					content ''
					position absolute
					width 12px
					height 12px
					border 1px solid #959595
					background-color #f47b21
					left 2px
					top 2px
					border-radius 2px
		.check-mark-text
			a
				color #2a67c1
		.form-error
			margin-top 20px
			color #ca2525
			
			