@media screen and (max-width: 1200px)
    .container
        max-width: 960px

    .login
        &-wrap
            width: 960px

@media screen and (max-width: 992px)
    .container
        max-width: 720px

    .login
        margin-top: 80px
        &-wrap
            width: 720px

    .create-account
        margin-top: 80px
        &__main
            display: block
        &__image
            display: none

    .nav
        &__item
            margin-right: 20px
        &__link
            font-size: 14px

    .btn
        padding: 13px 22px

    .logo
        font-size: 20px

    .header
        &-wrap
            height: 100px
        &__nav, &__buttons
            display: none
        &__mobile-button, &__user-button
            display: block

    .footer
        &__left, &__right
            max-width: 40%

    .steps
        &__item
            font-size: 16px




    // index page

    .main-page .hero__title
        font-size: 24px

    .main-page .hero__text 
        font-size: 15px
        line-height: 28px
        margin-bottom: 34px

    .main-page .hero-wrap
        background-position: left center
        border-radius: 0 25px 25px 0
        height: 380px
        padding: 0 20px

    .main-page .hero
        margin-top: 0

    .main-page .advantages__item h3
        font-size: 15px
        margin-bottom: 10px

    .main-page .advantages__item p
        font-size: 13px
        width: 93%
        line-height: 1.6

    .main-page .advantages__item img
        margin-bottom: 15px

    .main-page .calculator__main
        display: block

    .main-page .calculator__col
        width: 100%

    .main-page .about__header img
        margin: 0 20px
        margin-bottom: 25px

    .main-page .about__you-need__image, .main-page .about__accounts__image
        background-size: cover

    .main-page .about__col:last-child
        width: 45%
        margin-left: 4%
        
        

@media screen and (max-width: 768px)
    .container
        max-width: 540px

    .login
        margin-top: 40px
        &__main
            display: block
        &__image
            display: none
        &__form
            width: 100%
            max-width: 500px

    .create-account
        margin-top: 80px

    h1
        font-size: 25px

    .main-page .hero-wrap
        background-image: none
        min-height: 400px
        height: auto
        padding: 20px 0

    .main-page .hero
        background-image: url(../img/hero-bg.png)
        background-repeat: no-repeat
        background-position: center top
        background-size: 110%

    .main-page .hero__buttons a
        margin-right: 0
        margin-bottom: 20px
        &:last-child
            margin-bottom: 0

    .main-page .advantages__items
        flex-wrap: wrap
        justify-content: center

    .main-page .advantages__item
        width: 50%
        margin-bottom: 45px

    .main-page .advantages
        margin-bottom: 80px

    .main-page .about__you-need__image, .main-page .about__accounts__image
        min-width: auto !important
        right: 0 !important
        min-height: 350px

    .main-page .about__col
        width: 100%
        margin-bottom: 35px
        margin-left: 0 !important

    .main-page .about__col:last-child
        width: 100%

    .main-page .about__item
        flex-wrap: wrap
        margin-bottom: 50px

    .main-page .calculator
        margin-bottom: 80px

    .main-page .about
        margin-bottom: 0

    .main-page .how-it-works
        margin-bottom: 80px

    .main-page .questions
        margin-bottom: 80px

    .main-page .ending
        padding: 50px 0

    .main-page .ending__title, .main-page .ending__text
        width: 100%

    .main-page .ending__title
        margin-bottom: 35px

    .main-page .how-it-works__step
        width: 50%
        margin-bottom: 30px

    .main-page .how-it-works__steps
        flex-wrap: wrap
        justify-content: center

    .main-page .ending-wrap
        flex-wrap: wrap

    .main-page .questions__item::before
        left: 25px
        right: auto
        top: 25px

    .main-page .questions__question, .main-page .questions .questions__item.opened .questions__answer
        padding: 25px
        font-size: 15px

    .main-page .questions__question
        padding-left: 60px

@media screen and (max-width: 560px)
    .header
        &-wrap
            height: 80px

    .container
        max-width: 100%

    .login
        margin-top: 20px
        margin-bottom: 70px
        &-wrap
            width: 100%
        &__title
            margin-bottom: 80px

    .create-account
        margin-top: 20px
        margin-bottom: 70px

    .footer
        padding-top: 50px
        padding-bottom: 70px
        &-wrap
            display: block
        &__left > &__copyright
            display: none
        &__right > &__copyright
            display: block
        &__left, &__right
            max-width: 100%
        &__logo
            margin-bottom: 50px
        &__menu
            ul
                li
                    display: inline-block
                    margin-right: 35px
                    a
                        font-size: 15px
        &__info
            margin-bottom: 60px

    .form
        &__multiple-inputs
            input
                min-width: auto
        &__label
            font-size: 16px
        &__input
            font-size: 14px
        &__checkbox
            font-size: 12px
            margin-bottom: 30px
            label
                &::before
                    top: 0
                &::after
                    top: 3px

    h1
        font-size: 20px

    .steps
        display: none

    .main-page .advantages__item
        width: 100%
        max-width: 300px
        margin-bottom: 30px

    .main-page .hero
        margin-bottom: 50px

    .main-page .advantages
        margin-bottom: 50px

    .main-page .how-it-works__step
        width: 100%
        max-width: 380px

    .main-page .how-it-works__step h1
        margin-bottom: 15px

    .main-page .hero__text
        display: none

    .main-page .hero__title
        font-size: 18px

    .main-page .hero-wrap
        min-height: auto

    .main-page .how-it-works__step h1::after
        display: none

    .main-page .hero__buttons a
        margin-bottom: 8px
        width: 100%

    .btn
        font-size: 11px

    .main-page .calculator__col input[type='text']
        width: 40%

    .main-page .calculator__col select
        width: 50%
        padding: 16px 24px
        font-size: 13px
        top: -1px

    .main-page .calculator__deadline select
        padding: 16px 24px
        padding-right: 40px

    .main-page .calculator__input::after
        right: 45px
    
    .main-page .calculator__col input[type='range']
        width: 40%

    .main-page .calculator__result .on-balance h1
        font-size: 30px
    
    .main-page .calculator p
        font-size: 14px
        margin-bottom: 20px !important

    .main-page .about__text
        flex-wrap: wrap

    .main-page .about__header-images
        text-align: left

@media screen and (max-width: 410px)
    .form
        &__multiple-inputs
            margin: 0 -6px
            input
                margin: 0 5px
                padding: 5px 8px




@media screen and (max-width: 1450px)
    .dash .overview__header h1
        font-size: 35px

    .dash .overview .overview-actives__item .item-title h3
        font-size: 16px

    .dash .overview .overview-actives__item .item-total h1
        font-size: 30px

    .dash .overview .overview-actives__item .item-profit h3
        font-size: 12px

    .dash .overview .overview-stats .overview-diagrams__item
        width: 80%
        margin-bottom: 30px
        &:last-child
            margin-bottom: 0

@media screen and (max-width: 1300px)
    .dash .overview .overview-actives__item
        width: 80%
        margin-bottom: 30px
        &:last-child
            margin-bottom: 0

    .dash .overview .overview-operats .last-operats__item .item-text h3
        font-size: 15px

    .dash .overview .overview-operats .last-operats__item .item-info h2
        font-size: 18px

@media screen and (max-width: 1100px)
    .dash .overview .overview-actives__item, .dash .overview .overview-stats .overview-diagrams__item
        width: 100%

    .dash .overview .overview-operats .last-operats__item .item-icon
        display: none

@media screen and (max-width: 950px)
    .dash .overview .overview-actives__item
        padding: 14px
    
    .dash .overview .overview-stats .overview-diagrams__item
        padding: 14px

    .dash .overview .overview-operats .last-operats__item
        display: block

    .dash .overview .overview-operats .last-operats__item .item-text span
        display: none

    .dash .overview .overview-operats .last-operats__item .item-info
        display: flex
        justify-content: space-between

    .dash__right-bar, .dash__notifications-bar
        width: 250px
        padding: 0 15px

    .dash__main
        width: calc(100% - 250px)
        padding: 0 15px

    .dash__content
        padding: 0 15px

    .dash .dash-menu__list ul li a span, .dash .dash-menu__bottom ul li a
        font-size: 12px

    .dash__right-bar
        border: none

@media screen and (max-width: 768px)
    .dash .overview .overview-operats h1::after
        top: 8px

@media screen and (max-width: 560px)
    .dash .overview .overview-operats h1::after
        top: 4px

@media screen and (max-width: 750px)
    .dash__right-bar, .dash__notifications-bar, .dash__menu
        display: none
    
    .dash__main, .dash__content
        width: 100%
    
    .dash__content
        padding: 40px

    .dash .overview .overview-actives__item, .dash .overview .overview-stats .overview-diagrams__item
        max-width: 450px

    .dash .overview .overview-operats .last-operats
        max-width: 450px

    .dash__logo
        display: none

    .dash .overview .overview-stats .ratio-diagram
        display: block

    .dash .overview .overview-stats .ratio-diagram .diagram-labels
        width: 100%
        max-width: 300px
        margin: 0 auto
        margin-bottom: 30px

    .dash .overview .overview-stats .ratio-diagram .diagram-circle
        width: 70%
        margin: 0 auto

    .dash .overview .overview-stats .overview-diagrams__item .item-title h3
        font-size: 12px

    .dash .overview .overview-stats .overview-diagrams__item .item-title select
        font-size: 10px

    .dash .overview__header select
        width: 140px
        padding: 10px