extends layout/main

block variables
	- var title = 'Reversales — название статьи!'
	- var pageClass = 'article-page'

block libs

block content
	.container
		.row
			.bread-crumbs
				ul
					li
						a(href="#") Главная
					li
						a(href="#") Новости
					li Название статьи
			.page-title
				h2 Название статьи
			.shop
				.col-lg-9
					.article-block
						.article-block_img
							img(src="img/article.png", alt="Название статьи")
						span.date 2 января, 2017
						p 
							|Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной |"рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию |размеров 
							a(href="#") и форм шрифтов
							|, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений |пять веков, но и перешагнул в электронный дизайн.
						h3 Заголовок
						p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. 
						ul
							li Элемент списка
							li Элемент списка
							li Элемент списка
							li Элемент списка
						p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.  Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. 
				.col-lg-3
					.page-menu
						h2 Мы в ВК
						script(type="text/javascript" src="//vk.com/js/api/openapi.js?152")
						#vk_groups
						script(type="text/javascript" src="js/vk_widget.js")

block script