extends layout/main

block variables
	- var title = 'Reversales — все магазины с кэшбэком!'
	- var pageClass = 'shops-page'

block libs

block content
	.container
		.row
			.bread-crumbs
				ul
					li
						a(href="#") Главная
					li Магазины
			.page-title
				h2 Магазины с кэшбэком
			.shops
				.col-md-3.col-sm-4
					.page-menu
						button.btn.btn-category
							|Категории  
							i.fas.fa-angle-down
						.page-menu_ul
							ul
								li.active
									a(href="#") Все магазины
								li
									a(href="#") С повышеным кэшбэком
								li
									a(href="#") Новые магазины
							ul
								li
									a(href="#") Одежда
								li
									a(href="#") Электроника и техника
								li
									a(href="#") Путешествия
								li
									a(href="#") Дети
								li
									a(href="#") Для дома
								li
									a(href="#") Страхование и финансы
				.col-md-9.col-sm-8
					.shops-items
						.shops-item
							.shops-item_icon
								img(src="img/shops/1.png", alt="AliExpress")
							.shops-item_text
								p
									span до 3%
									br
									|кэшбэк
								a(href="shop.html") Подробнее
						.shops-item
							.shops-item_icon
								img(src="img/shops/2.png", alt="Ozon.Ru")
							.shops-item_text
								p
									span до 3%
									br
									|кэшбэк
								a(href="shop.html") Подробнее
						.shops-item
							.shops-item_icon
								img(src="img/shops/3.png", alt="Lamoda")
							.shops-item_text
								p
									span до 3%
									br
									|кэшбэк
								a(href="shop.html") Подробнее
						.shops-item
							.shops-item_icon
								img(src="img/shops/4.png", alt="M.Видео")
							.shops-item_text
								p
									span до 3%
									br
									|кэшбэк
								a(href="shop.html") Подробнее
						.shops-item
							.shops-item_icon
								img(src="img/shops/1.png", alt="AliExpress")
							.shops-item_text
								p
									span до 3%
									br
									|кэшбэк
								a(href="shop.html") Подробнее
						.shops-item
							.shops-item_icon
								img(src="img/shops/2.png", alt="Ozon.Ru")
							.shops-item_text
								p
									span до 3%
									br
									|кэшбэк
								a(href="shop.html") Подробнее
						.shops-item
							.shops-item_icon
								img(src="img/shops/3.png", alt="Lamoda")
							.shops-item_text
								p
									span до 3%
									br
									|кэшбэк
								a(href="shop.html") Подробнее
						.shops-item
							.shops-item_icon
								img(src="img/shops/4.png", alt="M.Видео")
							.shops-item_text
								p
									span до 3%
									br
									|кэшбэк
								a(href="shop.html") Подробнее
						.shops-item
							.shops-item_icon
								img(src="img/shops/1.png", alt="AliExpress")
							.shops-item_text
								p
									span до 3%
									br
									|кэшбэк
								a(href="shop.html") Подробнее
						.shops-item
							.shops-item_icon
								img(src="img/shops/2.png", alt="Ozon.Ru")
							.shops-item_text
								p
									span до 3%
									br
									|кэшбэк
								a(href="shop.html") Подробнее
						.shops-item
							.shops-item_icon
								img(src="img/shops/3.png", alt="Lamoda")
							.shops-item_text
								p
									span до 3%
									br
									|кэшбэк
								a(href="shop.html") Подробнее
						.shops-item
							.shops-item_icon
								img(src="img/shops/4.png", alt="M.Видео")
							.shops-item_text
								p
									span до 3%
									br
									|кэшбэк
								a(href="shop.html") Подробнее
					.shops-pagination.pagination
						.load-more
							a(href="#") Загрузить еще
						.main-pagination
							a(href="#").active 1
							a(href="#") 2
							a(href="#") 3
							a(href="#") 4
							span ...
							a(href="#") 24



block script
	script(src="js/shops.js")