footer.footer
	.footer_container
		.container
			.row
				.footer_content
					.footer_menu
						h3 Меню
						ul
							li
								a(href="#") Главная
							li
								a(href="#") Все магазины
							li
								a(href="#") Новости
							li
								a(href="#") Отзывы
							li
								a(href="#") Блог
							li
								a(href="#") Контакты
					.footer_help
						h3 Помощь
						ul
							li
								a(href="#") Тех. поддержка
							li
								a(href="#") Вопросы и ответы
					.footer_work-with.hidden-md.hidden-sm.hidden-xs
						h3 Мы работаем с
						img(src="img/footer/work_with/1.png", alt="WebMoney")
						img(src="img/footer/work_with/2.png", alt="PayPal")
						img(src="img/footer/work_with/3.png", alt="Qiwi")
					.footer_socials
						h3 Мы в соц. сетях
						a(href="#")
							img(src="img/footer/socials/vk.png", alt="Vk")
						a(href="#")
							img(src="img/footer/socials/facebook.png", alt="Facebook")
						a(href="#")
							img(src="img/footer/socials/instagram.png", alt="Instagram")
					.footer_contact.hidden-sm.hidden-xs
						h3 Контакты
						ul
							li support@otkat.me

				
	.footer_copyright
		p Reversales © 2018
