header.header
	.container
		.row
			.header-container
				.logo
					a(href="#")
						img(src="img/logo.svg" title="Reversales" alt="Reversales")
				.menu.hidden-sm.hidden-xs
					ul
						li
							a(href="index.html") Главная
						li
							a(href="shops.html") Все магазины
						li
							a(href="news.html") Новости
						li
							a(href="#") FAQ
						li
							a(href="#") Контакты
				.right-container.hidden-sm.hidden-xs
					a(href="auth.html")
						img(src="img/header/login.svg" title="Войти в аккаунт")
					button.search_button
						img(src="img/header/search.svg" title="Поиск по сайту")
				.header-menu_mobile.hidden-lg.hidden-md
					button.search_button
						img(src="img/header/search.svg" title="Поиск по сайту")
					button.menu_button
						img(src="img/header/menu-button.svg", alt="Reversales Mobile")
					